@media (max-width: 1170px) {
  /* Header */
  .header-info {
    padding: 0.8rem 2rem 0.7rem 2rem;
  }
  /* .header__logo {
    width: none;
    height: none;
  } */
  .text_bold {
    letter-spacing: 0;
    font-weight: 800;
    font-size: 1.1rem;
  }
  .contacts__circle {
    margin-left: 0.7rem;
    width: 3.44rem;
    height: 3.44rem;
  }
  .logo__text,
  .contacts__text {
    padding-left: 0.5rem;
    margin-right: 1rem;
  }
  .banner-socio {
    margin-right: 3rem;
  }
  /* Header */
}

@media (max-width: 960px) {
  /* Header */
  .header-info {
    display: flex;
    flex-direction: column;
  }
  .header__title {
    padding-left: 3rem;
    font-size: 2.5rem;
  }
  .banner-text img {
    width: 3rem;
  }
  .banner-text {
    margin-left: 3rem;
  }
  .header__text {
    padding-left: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-left: 0.5rem;
  }
  .header__button {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
  }
  .header__form-button {
    margin-bottom: 0.8rem;
  }
  .banner-contacts {
    padding-left: 1rem;
  }
  .banner-socio {
    margin-right: 1.5rem;
  }
  /* Header */

  /* Application */
  .application {
    margin-top: 0rem;
  }
  .application__form {
    width: 100%;
    padding: 2rem;
    margin: 1rem;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  /* Header */
  .header-info {
    padding: 0.8rem 2rem 0.7rem 2rem;
  }
  .header__logo {
    width: 4rem;
    height: 4rem;
  }
  .header__logo img {
    width: 2.8rem;
  }
  .header__two {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 12% 90%;
  }
  .contacts__text {
    display: flex;
    flex-direction: row;
  }
  .contacts__text > .text_bold {
    margin-left: 0.5rem;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 1rem;
  }
  .contacts__text > .text_thin {
    letter-spacing: 0;
    font-size: 1rem;
  }

  .contacts__circle {
    justify-self: center;
    margin: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .contacts__img_icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .logo__text,
  .contacts__text {
    padding-left: 0.5rem;
  }
  .banner-text > img {
    display: none;
  }
  .banner-socio {
    margin-right: 3rem;
  }
  .banner-contacts {
    display: none;
  }
  /* Header */

  /* Application */
  .application {
    margin-top: 0rem;
  }
  .application__form {
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    font-size: 1.5rem;
  }
  .application__form h2 {
    font-size: 2.5rem;
  }
  .application__form:hover {
    transform: none;
  }
  .application__form-button {
    font-size: 1.5rem;
    height: 4rem;
    padding: 0.7rem 1.5rem;
  }
  /* Application */
}

@media (min-width: 450px) and (max-width: 600px) {
  /* Header */
  .header__title {
    padding-left: 1rem;
    font-size: 2rem;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: flex-start;
    align-self: flex-start;
    padding-left: 3rem;
  }
  .banner-img {
    filter: brightness(0.5);
  }
  .header__title,
  .banner-text,
  .header__button {
    z-index: 1;
  }
  .banner-text {
    margin: 2rem;
  }
  .header__text {
    font-size: 0.9rem;
  }
  .banner-socio {
    margin-right: 2rem;
  }
  /* Application */
  .application__form h2 {
    font-size: 2rem;
  }
  .application__form {
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    font-size: 0.9rem;
  }
  .application__form-button {
    font-size: 1.2rem;
    height: 3rem;
    padding: 0.5rem 1.5rem;
  }
  /* Application */
}

@media (max-width: 450px) {
  .header__logo {
    width: 4rem;
    height: 4rem;
  }
  .header__logo img {
    width: 2.8rem;
  }
  .text__one.text_bold {
    font-size: 1.2rem;
    color: rgb(60 88 193);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
  }
  .header-info {
    padding: 0.3rem;
  }
  .header__two {
    margin-top: 0.3rem;
    margin-left: 2rem;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 16% 90%;
  }
  .contacts__text {
    display: flex;
    flex-direction: row;
    justify-self: center;
  }
  .contacts__circle {
    justify-self: center;
    margin: 0.2rem;
    width: 2rem;
    height: 2rem;
  }
  .contacts__img_icon {
    width: 1rem;
    height: 1rem;
  }
  .text_bold {
    margin-left: 0.2rem;
    font-size: 0.8rem;
  }
  .text_thin {
    letter-spacing: 0;
    font-size: 0.79rem;
  }

  .contacts__text > .text_thin,
  .banner-contacts,
  .banner-socio,
  .banner-text img {
    display: none;
  }
  .header__title,
  .banner-text,
  .header__button {
    z-index: 1;
  }
  .header__title {
    padding-left: 1rem;
    font-size: 1.5rem;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: flex-end;
  }
  .banner-img {
    filter: brightness(0.5);
  }
  .banner-text {
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    margin: 2rem;
  }
  .header__text {
    font-size: 0.7rem;
  }
  .contacts__text > .text_thin {
    display: none;
  }

  .header__form-button {
    align-content: center;
    font-size: 1.2rem;
    height: 3rem;
    padding: 0.5rem 1.5rem;
  }
  .header__button {
    grid-area: 4 / 1 / 6 / 2;
    justify-self: center;
    align-self: center;
    padding-left: 1rem;
  }
  /* Header */

  /* Application */
  .application__form h2 {
    font-size: 1.5rem;
  }
  .application__form {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    font-size: 0.75rem;
  }
  .application__form-button {
    font-size: 1.2rem;
    height: 3rem;
    padding: 0.5rem 1.5rem;
  }
  /* Application */
}
/* Адаптив - ирина */
@media (max-width: 1000px) {
  .services__title {
    margin: 0 0 2.1875rem 0;
    display: block;
    text-align: center;
  }
  .services__block {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .services__card {
    width: auto;
    height: auto;
    align-items: center;
  }
  .services__popups {
    width: 65%;
  }
}
@media (max-width: 1035px) {
  .services__title {
    font-weight: 900;
    font-size: 2.5rem;
  }

  .services__price_ot {
    font-weight: 600;
    font-size: 1.1rem;
  }
  .services__price_cost {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .services__subtitle {
    font-size: 1.1rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 850;
  }
}
@media (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services__title {
    text-align: center;
    line-height: 3rem;
    font-weight: 800;
    font-size: 2.5rem;
  }
  .services__block {
    display: block;
    margin: 0;
    padding: 0 1rem 0 1rem;
  }
  .services__card {
    display: block;
  }
  .services__info {
    width: auto;
    margin: 0.5rem 0 0 0;
  }
  .services__subtitle {
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
  }
  .services__img {
    width: auto;
  }
  .services__popups {
    width: 65%;
    font-size: 1rem;
    padding: 1.5rem;
    font-size: 0.9rem;
  }
  .services__img_picture {
    height: auto;
  }

  .services__img:hover .services__img_picture {
    transform: scale(1.01) translateY(-10px);
  }
}

/* Offer*/

@media (max-width: 835px) {
  .box__popup {
    display: none;
  }
}
@media (max-width: 1330px) {
  .offer {
    padding: 0rem 1.5rem 5rem 1.5rem;
  }
}

@media (max-width: 1135px) {
  .box__popup {
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
  }
  .box {
    gap: 2.5rem;
  }

  @media (max-width: 570px) {
    .box {
      background-color: #ffffff4b;
      border-radius: 5rem;
      padding: 4rem 0 4rem 0;
    }
  }
}
/* Начало адаптива для блока description - yuliya*/
@media (max-width: 1135px) {
  .company__icon-one {
    height: 31.25rem;
  }
  .company__icon-two {
    display: none;
  }
  .description__part-two {
    width: 100%;
    margin-left: 0rem;
  }
  .company__description {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .description__articles {
    margin-bottom: 0rem;
  }
}

@media (max-width: 920px) {
  .company__description-1 {
    justify-content: center;
    align-items: stretch;
    flex-direction: column-reverse;
  }

  .company__description__part-1 {
    width: 100%;
    position: relative;
    padding-left: 0rem;
    display: flex;
    justify-content: center;
  }
  .company__icon-one {
    height: 43.75rem;
    width: 31.25rem;
  }
  .company__description__part-two {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0rem;
  }

  .description__articles {
    margin-right: 0px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .description__title {
    font-size: 2.5rem;
  }

  .description__subtitle {
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .description__article-2 {
    padding-left: 0.625rem;
    margin-bottom: 0.625rem;
    line-height: 1.563rem;
  }
  .description__article-3 {
    line-height: 1.563rem;
  }
  .description__article-1 {
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: center;
  }

  .description__article-0 {
    justify-content: center;
  }
  .description__article-00 {
    display: none;
  }
}

@media (max-width: 600px) {
  .description__title {
    font-size: 2.2rem;
  }
}

@media (max-width: 637px) {
  .company__description-1 {
    flex-wrap: wrap;
  }
  .company__description__part-1 {
    width: 100%;
  }
  .company__icon-one {
    height: 31.25rem;
    width: 25rem;
  }
}

@media (max-width: 550px) {
  .company__description {
    padding-top: 2rem;
  }
  .company__icon-one {
    height: 18.75rem;
    width: 18.75rem;
  }
  .description__title {
    font-size: 1.8rem;
    text-align: center;
  }
  .description__subtitle {
    display: none;
  }
}

@media (max-width: 430px) {
  .description__title {
    font-size: 1.5rem;
    text-align: center;
  }
}
/* Конец адаптива для блока description - yuliya*/

/* Начало адаптива для блока reviews - yuliya*/
@media (max-width: 936px) {
  .reviews__article-0 {
    display: none;
  }
  .reviews__title-01 {
    font-size: 3rem;
  }
}
@media (max-width: 750px) {
  .reviews__section-one {
    align-items: center;
    text-align: center;
    padding-left: 0rem;
  }
  .reviews__title-01 {
    padding-bottom: 0.063rem;
    font-size: 2.5rem;
  }
  .reviews__article-1 {
    line-height: 1.5rem;
  }
}

@media (max-width: 570px) {
  .reviews__title-01 {
    font-size: 2.3rem;
  }
  .review__first-text-1 {
    flex-direction: column;
  }
  .review__first-text-2 {
    flex-direction: column;
  }
  .review__photo {
    padding-top: 0.625rem;
  }
  .reviews__article-line-1 {
    width: 90%;
  }
  .reviews__article-line-2 {
    width: 90%;
  }
  .reviews__article-4 {
    padding-right: 2.188rem;
  }
  .reviews__article-6 {
    padding-right: 2.188rem;
  }
}

@media (max-width: 500px) {
  .reviews__title-01 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .review__first-text {
    margin-bottom: 0rem;
  }
  .review__photo {
    display: none;
  }
}
@media (max-width: 449px) {
  .reviews__title-01 {
    font-size: 1.7rem;
  }
}
/* Конец адаптива для блока reviews - yuliya*/

/*адаптив Яна*/

/* Начало блока footer*/
@media screen and (min-width: 1261px) {
  .footer__application-button-small {
    display: none;
  }
  .footer__container-small {
    display: none;
  }
  .footer__grid-small {
    display: none;
  }
  .footer__grid-item2-small {
    display: none;
  }
  .footer__grid-item3-small {
    display: none;
  }
  .footer__grid-item4-small {
    display: none;
  }
  .footer__grid-item5-small {
    display: none;
  }
  .footer__application-button-middle {
    display: none;
  }
  .footer__application-text-middle {
    display: none;
  }
}
@media (min-width: 634px) and (max-width: 1260px) {
  .footer__application-button {
    display: none;
  }
  .footer__application-text-middle {
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .footer__application-button-middle {
    display: flex;
    justify-content: center;
    font-family: Noto Sans, sans-serif;
    background-color: #3c58c1;
    height: 5rem;
    border-radius: 50px;
    border-color: #3c58c1;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 5px rgb(163, 183, 188);
    max-width: 20rem;
    margin: 0 auto;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .footer__application-link-middle {
    text-decoration: none;
    align-self: center;
    color: #ffffff;
  }
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    max-width: 40rem;
    column-gap: 5rem;
    row-gap: 2rem;
    justify-items: start;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  .footer__grid-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer__grid-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer__grid-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer__grid-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer__grid-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .footer__grid-map {
    max-width: 25.5rem;
    max-height: 13.5rem;
    align-items: center;
  }
  .footer__application {
    flex-direction: column;
    justify-content: center;
  }
  .footer__application-text {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .footer__text1 {
    text-align: center;
  }
  .footer__text2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
  }
  .footer__bottom {
    height: 3.5rem;
  }
  .footer-bottom-registration {
    display: none;
  }
  .footer__application-button-small {
    display: none;
  }
  .footer__container-small {
    display: none;
  }
  .footer__grid-small {
    display: none;
  }
  .footer__grid-item2-small {
    display: none;
  }
  .footer__grid-item3-small {
    display: none;
  }
  .footer__grid-item4-small {
    display: none;
  }
  .footer__grid-item5-small {
    display: none;
  }
  .footer__application {
    display: none;
  }
}
@media all and (max-width: 633px) {
  .footer__container {
    display: none;
  }
  .footer__text1-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .footer__text2-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }
  .footer-bottom-registration {
    display: none;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 3px;
  }
  .footer__application-button-small {
    display: flex;
    justify-content: center;
    font-family: Noto Sans, sans-serif;
    background-color: #3c58c1;
    height: 5rem;
    border-radius: 50px;
    border-color: #3c58c1;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 5px rgb(163, 183, 188);
    max-width: 15rem;
    margin: 0 auto;
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
  }
  .footer__application-link {
    text-decoration: none;
    align-self: center;
    color: #ffffff;
  }
  .footer__img-small {
    max-width: 45px;
    border-radius: 30px;
  }
  .footer__grid-phone-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    align-self: center;
  }
  .footer__grid-item2-small {
    display: flex;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
    gap: 10px;
  }
  .footer__grid-email-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    align-self: center;
  }
  .footer__grid-item3-small {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .footer__grid-time-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    align-self: center;
  }
  .footer__grid-item4-small {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .footer__grid-address-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    align-self: center;
    text-decoration: none;
    color: black;
  }
  .footer__grid-item5-small {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .footer__application-button-middle {
    display: none;
  }
  .footer__application-text-middle {
    display: none;
  }
}
@media (max-width: 425px) {
  .footer__container {
    display: none;
  }

  .footer__text2-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }
  .footer-bottom-registration {
    display: none;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1rem;
    font-weight: 600;
  }
  .footer__application-button-small {
    display: flex;
    justify-content: center;
    font-family: Noto Sans, sans-serif;
    background-color: #3c58c1;
    height: 4rem;
    border-radius: 50px;
    border-color: #3c58c1;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 5px rgb(163, 183, 188);
    max-width: 15rem;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 1.7rem;
  }
  .footer__application-link {
    text-decoration: none;
    align-self: center;
    color: #ffffff;
  }
  .footer__img-small {
    max-width: 45px;
    border-radius: 30px;
  }
  .footer__grid-phone-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    align-self: center;
  }
  .footer__grid-item2-small {
    display: flex;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
    gap: 10px;
  }
  .footer__grid-email-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    align-self: center;
  }
  .footer__grid-item3-small {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .footer__grid-time-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    align-self: center;
  }
  .footer__grid-item4-small {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .footer__grid-address-small {
    font-family: Noto Sans, sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    align-self: center;
    text-decoration: none;
    color: black;
  }
  .footer__grid-item5-small {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .footer__application-button-middle {
    display: none;
  }
  .footer__application-text-middle {
    display: none;
  }
}
