/* Адаптив - ирина */
@media (max-width: 1000px) {
  .servies__title {
    margin: 0 0 2.1875rem 0;
    display: block;
    text-align: center;
  }
  .servies__block {
    flex-direction: column;
    align-items: center;
  }
  .servies__card {
    width: auto;
    height: auto;
    align-items: center;
  }
  .servies__popups {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .servies {
    box-sizing: border-box;
    margin: 0 1.5rem 0 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .servies__title {
    text-align: center;
    line-height: 3rem;
  }
  .servies__block {
    display: block;
  }
  .servies__card {
    display: block;
  }
  .servies__info {
    width: auto;
    margin: 1.5rem 0 0 0;
  }
  .servies__img {
    width: auto;
  }
  .servies__popups {
    width: 65%;
    font-size: 1rem;
  }
}

/* Конец адаптива - Ирина */
