body {
  box-sizing: border-box;
}
.servies__title {
  font-size: 4vw;
  font-family: "Russo One", sans-serif;
  line-height: 4vw;
  margin: 0 0 2.1875rem 0;
  display: flex;
  position: relative;
  color: black;
  font-weight: 400;
}
.servies__block {
  display: flex;
  width: 100%;
  height: auto;
}
.servies__card {
  min-width: auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin: 0.9375rem;
  padding-bottom: 1.875rem;
}

.servies__img {
  width: 55%;
  position: relative;
}
.servies__img_picture {
  width: 100%;
  height: 20rem;
  position: relative;
  border-radius: 1.875rem;
  display: inline-block;
  vertical-align: top;
  filter: brightness(0.85);
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1), filter 0.7s ease,
    opacity 0.5s ease;
  transition-delay: 0.1s; /* Задержка перед началом анимации */
}

.servies__img:hover .servies__img_picture {
  transform: scale(1.15) translateY(-10px); /* Увеличение и легкое перемещение вверх */
  filter: brightness(1) contrast(1); /* Увеличиваем яркость и контраст */
  opacity: 0.95; /* Немного затемняет изображение */
}
.servies__circle {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  margin-left: 2.1875rem;
  margin-bottom: -5rem;
  z-index: 1;
  border-radius: 15.625rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(60 88 193);
}

.servies__img_icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
}

.servies__info {
  width: 50%;
  position: relative;
  display: block;
  padding: 1.25rem;
  background-color: rgb(240, 240, 240);
  margin: 0 0 -1.875rem -3.125rem;
  border-radius: 1.875rem;
}
.servies__subtitle {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
  font-family: "Play", sans-serif;
  font-weight: 700;
}

.servies__text {
  display: flex;
  line-height: 1.5625rem;
  font-family: "Play", sans-serif;
  padding-bottom: 0.625rem;
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: rgba(0, 0, 0, 0.384);
}

.servies__footer {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 0.625rem;
  align-items: center;
  justify-content: space-between;
  font-family: "Play", sans-serif;
}
.servies__price {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Play", sans-serif;
}
.servies__price_ot {
  display: inline-flex;
  vertical-align: top;
  position: relative;
  color: black;
  font-weight: 700;
  font-size: 1.3vw;
}
.servies__price_cost {
  display: inline-flex;
  vertical-align: top;
  position: relative;
  margin: 0 0.625rem 0 0.625rem;
  font-size: 1.5vw;
  color: rgb(60 88 193);
  font-weight: 700;
}

.servies__btn {
  display: inline-flex;
  cursor: pointer;
  vertical-align: top;
  padding: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-decoration-line: none;

  width: 3.4375rem;
  height: 3.4375rem;
  z-index: 2;
  align-items: center;
  justify-content: center;
  border-radius: 15.625rem;
  border-color: rgba(60 88 193);
  border-width: 0.1875rem;
}
.servies__btn img {
  position: relative;
  transition: transform 0.5s ease;
  width: 70%;
}

.servies__btn:hover img {
  transform: translateX(10px);
}

.servies__popup_down {
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  width: 37.5rem;
  padding: 0.9375rem;
  background-color: rgba(60, 89, 193);
  color: rgb(254, 254, 254);
  border-radius: 0.625rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: "Play", sans-serif;
  font-size: 1.3vw;
}

.servies__btn:hover .servies__popup_down {
  opacity: 1;
  visibility: visible;
}
.servies__popup_up {
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  width: 37.5rem;
  padding: 0.9375rem;
  background-color: rgba(60, 89, 193);
  color: rgb(254, 254, 254);
  border-radius: 0.625rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: "Play", sans-serif;
  font-size: 1.3vw;
}

.servies__btn:hover .servies__popup_up {
  opacity: 1;
  visibility: visible;
}
/*Начало стилей Анна Д.*/

main {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.application {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../pics/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.application__form {
    width: 60%;
    padding: 3rem;
    margin: 6rem 1.5rem 6rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: #dadce2bc;
    box-shadow: inset 0px 0px 0px 3px rgb(145, 179, 187);
    text-align: center;
    font-size: 1.75rem;
    color: black;
}
.application__form h2 {
    font-size: 4rem;
    color: black;
}
.application__form-button button {
    border-radius: 50px;
    border-color: #3c58c1;
    background-color: #3c58c1;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    padding: 1.5rem 1.5rem;
    box-shadow: inset 0px 0px 0px 5px rgb(163, 183, 188);
}
button a {
    text-decoration: none;
    color: #dadce2;
}

/*Конец стилей Анна Д.*/
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.title{
    font-family: Russo One;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.5rem;
}



.title2{
    color: gray;
    font-weight: bold;
    font-family: Play;
    justify-content: center;
    text-align: center;
    
}

.title3{
    font-family:;
}

.box1{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(245, 243, 243);
    box-sizing: border-box;
    
}

.box2{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(245, 243, 243);
    box-sizing: border-box;
}

.box3{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(245, 243, 243);
    box-sizing: border-box;
}

.box4{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(245, 243, 243);
    box-sizing: border-box;
}

.box5{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(245, 243, 243);
    box-sizing: border-box;
    
}


.icon{
    position: relative;
    display: block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 3rem;
    height: 3rem;
    margin-top: 0.6rem;
}

.icon2{
    
    width: 4rem;
    height: 4rem;
    margin-top: 0.6rem;
}

.circle{
    position: relative;
    -webkit-box-align: center;
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: #3c58c1;
    margin-top: 3rem;
}

.rect{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}
