/* Начало блока description - yuliya*/
.company__description{
  width: 100%;
  max-width: 96.875rem;
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom:0rem;
  margin-left: auto;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.company__description-1 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.company__description__part-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 30%;
}
.company__description__part-one{

  position: relative;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: rgba(184, 223, 243, 0.6);
  box-shadow: 0 0.125rem 0.625rem #3c58c1;
  overflow-x: hidden;
  overflow-y: hidden
}

.company__icon-one{
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 43.75rem;
}

.description-1{
  object-fit: cover;
    width: 100%;
    height: 100%; 
}

.company__description__part-two{
  width: 65%;
  position: relative;
  display: flex;
  margin-left: 1.25rem;
  align-items: flex-start;
  flex-direction: column;
}

.description__subtitle{
  width: 100%;
  position: relative; 
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
  font-family:"Noto Sans", sans-serif;
}
.description__article-0{
  width: 100%;
  display: flex;
  align-items: center;
 font-weight: 400; 
 font-family: "Noto Sans", sans-serif;
}

.description__article-00{
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  background-color: #24A5E8; 
  border-top-left-radius: 15.625rem;
  border-top-right-radius: 15.625rem;
  border-bottom-right-radius: 15.625rem;
  border-bottom-left-radius: 15.625rem;
}

.description__article-1{
  width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: 0rem;
    margin-bottom: 1.25rem;}

.description__title {
    font-size: 3rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    font-weight: 900;
    margin-bottom: 0rem;
    font-family: "Noto Sans", sans-serif;
}

.description__articles{
  width: 100%;
  margin-left: auto;
  margin-right: 0rem;
  margin-bottom: 1.25rem;
}

.description__part-one{
  width: 100%;
  position: relative;
  display: flex;
  align-items:  flex-start;
}
.company__icon-two{
 width: 45%;
  position: relative;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: rgba(184, 223, 243, 0.6);
  box-shadow: 0 0.125rem 0.625rem #3c58c1;
  overflow-x: hidden;
  overflow-y: hidden;
}
.icon-two{
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 32.813rem;
}

.description-2{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description__part-two {
  width: 47%;
  position: relative;
  display: inline-block;
  margin-left: 1.875rem;}

.description__article-2{
  width: 100%;
  position: relative;
  padding-left: 1.25rem;
  border-left-style: solid;
  border-left-width: 0.313rem;
  border-left-color: #24A5E8; 
  line-height: 2.188rem;
  display: flex;
  margin-bottom: 1.25rem ;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.description__article-3{
  display: flex;
    vertical-align: top;
    position: relative;
    line-height: 2.188rem;
    margin-bottom: 1.875rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}
/* Конец блока description - yuliya*/

/* Начало блока reviews - yuliya*/
.reviews{
  width: 100%;
  max-width: 96.875rem;
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.reviews__section-one{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.reviews__section-one-1{
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.reviews__article-0{
  width: 0.625rem;
  height: 0.625rem;
  background-color:  #24A5E8; 
  margin-right: 0.625rem;
  border-top-left-radius: 15.625rem;
  border-top-right-radius: 15.625rem;
  border-bottom-right-radius: 15.625rem;
  border-bottom-left-radius: 15.625rem;
}

.reviews__article-1{
   color: #000000;
   font-weight: 400;
}

.reviews__title{
  line-height: 4vw;
  margin-top: 0px;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  display: inline-flex;
  position: relative;
  }

.reviews__title-01{
  font-size: 4.8rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900; 
  padding-bottom: 1.25rem;
}

.reviews__all{
  display: flex;
  width: 100%; 
  flex-direction: row;
  height: auto; flex-wrap: wrap;
}

.review__first{
  width: 100%;
  height: auto;
}

.review__first-text{
  min-width: auto;
  max-width: 100%;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom:1.25rem;
  margin-left: 1.25rem;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: rgba(184, 223, 243, 0.6);
  box-shadow: 0 0.125rem 0.625rem #3c58c1;
}

.review__first-text-1{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; align-items: center;
}

.review__photo{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-top-left-radius: 15.625rem;
  border-top-right-radius:  15.625rem;
  border-bottom-right-radius:  15.625rem;
  border-bottom-left-radius:  15.625rem;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.reviews__articles_1{
  width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 1.875rem;
}

.review__photo-1{
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 6.25rem;
  height: 6.25rem;
  border-top-left-radius: 15.625rem;
  border-top-right-radius: 15.625rem;
  border-bottom-right-radius: 15.625rem;
  border-bottom-left-radius: 15.625rem;
  box-shadow: 0px 0rem 0rem 1px #3c58c124;
}

.reviews__article-3{
  display: flex;padding-top: 10px;
   padding-top: 10px;
   font-family:"Noto Sans", sans-serif;
   font-weight: 400;
}

.reviews__article-line-1{
  margin-bottom: 0.625rem;
    border-bottom-style: solid;
    border-bottom-width: 0.063rem;
    border-bottom-color:#3c59c141;
    width: 98%;
  }

.reviews__article-4{
  padding-right: 0.938rem;
  font-family:"Noto Sans", sans-serif;
  font-weight: 400;
}

.review__second{
  width: 100%;
  height: auto;
  padding-top: 0.625rem;
}

.review__second-text{
  min-width: auto;
  max-width: 100%;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: rgba(184, 223, 243, 0.6);
  box-shadow: 0 0.125rem 0.625rem #3c58c1;
}

.review__first-text-2{
  width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; align-items: center;
}

.reviews__articles_2{
  width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 1.875rem;
    padding-top: 0.625rem;
}

.reviews__article-5{
  display: flex;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.reviews__article-line-2{
  margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:  #3c59c141;
    width: 98%;
}
.reviews__article-6{
  font-family: "Noto Sans", sans-serif;
 font-weight: 400;
  padding-right: 0.938rem;
}
/* Конец блока reviews - yuliya*/
